*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
.logo{
    width: 120px;
}

.logo:hover{
    transform: skew(15deg);
    transition: 3s;
}


.nav-link{
color: #fff;
}
.navbar-nav .nav-link.active{
    color: #fff;
}
.navbar-toggler-icon{
    color: #fff;
}

.nav-link:focus, .nav-link:hover{
    color: darkgoldenrod;
}

/* Main */

.carousel-inner{
    display: flex;
}

main div{
    margin: 18px;
    padding: 18px;

}

.texto1{
    padding: 13px;
    margin: 20px 5px 30px 15px;
    font-size: 40px;
    font-family: 'Square Peg', cursive;
    font-weight: bold;
    color: black;
    align-items: center;
    text-align: center;
    font-size: 18px;
}

.carousel-control-prev-icon {
    display: inline-block;
    width: 63px;
    height: 37px;
    background-repeat: no-repeat;
    background-position: 100%;
    margin: 13px;
}

.carousel-control-prev {
    left: 41px;
}

footer{
    background-color: black;
    
}

footer div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98px;

}

footer div img{
    height: 64px;
    padding: 5px;
    
}

@media (max-width: 820px) {
    .carousel-control-prev{
        left: 64px;
    }
}


